<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  </head>

  <div class="pure-menu pure-menu-open pure-menu-horizontal">
    <ul>
        <li class="pure-menu-selected"><a href="/welcome">Home</a></li>
        <li class="pure-menu-selected"><a href="/welcome/p1">Page1</a></li>
        <li class="pure-menu-selected"><a href="/welcome/p2">Page2</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
    
    <div class="pure-g">
      <div class="pure-u-1-6"></div>
      <div class="pure-u-2-3">
	{% block bodycontent %}
	
	{% endblock bodycontent %}
      </div>
    </div>
    <div class="pure-g">
      <div class="pure-u-1-12"></div>
      <div class="pure-u-11-12">



    <p>Username: {{session['name']}}<p>
    <p>You have visited {{session['counter']}} times</p>
   
</body>
</html>


